.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 50rem;
  padding: 2rem 0 4rem;
  margin: 0 auto;
}

.headerImage {
  width: 6rem;
  height: 6rem;
}

.headerHomeImage {
  width: 200px;
  height: 100px;
  cursor: pointer;
}

.backToHome {
  margin: 3rem 0 0;
}

.main {
  padding-top: 5rem;
  background: #fffaf7;
}

.subHeading {
  color: brown;
  font-size: 1rem;
  font-family: "Comic Sans MS";
  font-weight: bold;
}

.headerContainer {
  max-width: 100%;
  background: #fff;
  position: relative;
}

.headerContainer::after {
  background-color: #f78d1e;
  border: 1px solid #f78d1e;
  border-radius: 3px 3px 0px 0px;
  content: "";
  height: 3px;
  left: -1px;
  position: absolute;
  right: -1px;
  bottom: -1px;
}

@media (max-width: 768px) {
  .header {
    padding: 1rem 0 2.5rem;
  }

  .main {
    padding-top: 3rem;
  }
}
